html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    background-color: hsl(185, 41%, 84%);
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* Header */

#header {
    margin: 35px auto 10px auto;
}

#header h1{
    margin-top: 5px;
    color:hsl(183, 100%, 15%);
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 25px;
    letter-spacing: 10px;
    width: 60%;
    word-wrap: break-word;
    display: inline-block;
    margin-left: 25%;
    line-height: 40px;
}




#main-container{
    margin: auto;
    width: 100%;
 }


/* Form */

form{
    background-color: hsl(0, 0%, 100%);
    height: 100%;
    width: 100%;
    bottom:0;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
}




#form-width-adjust{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 85%;
   
}



/* Bill div */
#bill-div{
    margin-top: 30px;
}




/* All inputs */

input{
    font-size: 24px;
}

input:focus{
    border: solid 3px hsl(172, 67%, 45%);
}


/* People and bill inputs */
input[type="number"]{
    border: none;
    background-color: hsl(189, 41%, 97%);
    border-radius: 2px;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 600;
    color: hsl(183, 100%, 15%);
    text-indent: 95%;
    direction: ltr;
    background-image: url("./images/icon-dollar.svg");
    background-repeat: no-repeat;
    background-position: 5% ;
    width: 100%;
}


#people-input{
    background-image: url("./images/icon-person.svg");
    background-repeat: no-repeat;
    background-position: 5% ;
}



/* Percentage buttons */
input[type="button"]{
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    border:none;
    border-radius: 5px;
}

input[type="button"]:hover{
    background-color: hsl(172, 67%, 45%);
    color:hsl(183, 100%, 15%);
}


#custom-tip {
    background-color: hsl(0, 0%, 100%);
    color: hsl(184, 14%, 56%);
    font-weight: 700;
    background-image: none;
    
}




/* all paragrapths */
p{
    font-family: 'Space Mono', monospace;
}





#bill-div, 
#numpeople-div,
fieldset legend{
    color: hsl(186, 14%, 43%);
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    margin-bottom: 20px;
}



fieldset{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}


#inside-field-set{
    display: grid;
    grid-template-rows: repeat(3, 40px);
    grid-template-columns: 45% 45%;
    grid-gap: 20px;
}


#p-number-people{
    display: inline-block;
}


/* Form footer div */

#result-div {
    background-color: hsl(183, 100%, 15%);
    
    border-radius: 10px;
    display: grid;
    grid-template-areas: "tipAmount totalTipWithOut"
                          "perPerson totalTipWith"
                          "button button";
    grid-template-rows: 70px 70px 110px;
    grid-template-columns: 50% 50%;
    margin-bottom: 20px;
    justify-items: center;
    align-items: flex-end;
}

#result-div *{
    width:80%;
}



/* --------------- Grid Areas -------------- */

#result-div .only-tips{
    grid-area: tipAmount;
}

#result-div .result-price-tip{
    grid-area: totalTipWithOut;
    justify-self: right;
    text-align: right;
    overflow-x: scroll;
    overflow-y: hidden;
    
}

#result-div .result-price-sum{
    grid-area: totalTipWith;
    justify-self: right;
    text-align: right;
    overflow-x: scroll;
    overflow-y: hidden;
}


#result-div .tips-with-payment{
    grid-area: perPerson;
}


#result-div .tips-with-payment,
#result-div .only-tips{
    color: hsl(0, 0%, 100%);
}


#tip-pay, #total-amoun-of-all{
    color:hsl(172, 67%, 45%);
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 7px;
}


#result-div .head-line-result{
    font-family: 'Space Mono', monospace;
    font-weight: 600;
    margin-bottom: 5px;
    
    
}

.slash-person{
    color: hsl(184, 14%, 56%);
    font-size: 14px;
    font-weight: 600;
}

input[type="reset"]{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    border: none;
    border-radius: 5px;
    grid-area: button;
    margin-bottom: 20px;
    padding: 10px 0;
    font-weight: 600;
}


/* --- Missing data classes ---  */

#cant-be-zero,
#cant-be-zero_number{
    float: right;
    display: none;
    font-weight: 200;
    color: red;
    display: none;
}


@media (min-width: 600px){
    #inside-field-set{
        grid-template-rows: repeat(3, 50px);
    }


}


@media (min-width: 1000px){
    


}


@media (min-width: 1440px){
    
    #header{
        margin: auto;
    }

    #header h1{
        font-size: 50px;
        line-height: 70px;
    }

    #main-container{
        height: 60%;
    }


    form{
        margin: auto;
        align-self: center;
        width: 50%;
        height: 80%;
       border-radius: 20px;
       box-shadow: 2px 2px 15px hsl(186, 25%, 75%);
    }
    
    #form-width-adjust{
        margin: auto;
        align-items: center;
        display:grid;
        height: 100%;
        width: 90%;
        
        grid-row-gap: 5%;
        grid-template-columns: 50% 50%;
        grid-template-rows:  25% 40% 25%;
        grid-template-areas: 
                "left-side right-side"
                "left-second-line  right-side"
                "left-third-line right-side";

    }     

    /* --- Payment input --- */

    #bill-div{
        grid-area: left-side;
        margin: 0;
        width: 85%;
    }

    /* --- Tip - percentages --- */
    fieldset{
        width: 85%;
        height: 100%;
        grid-area: left-second-line;
        margin: 0;
        flex-direction: unset;
    }

    #inside-field-set{
        grid-template-rows: repeat(2, 35%);
        grid-template-columns: repeat(3, 30%);
        grid-gap: 15px;
        width: 100%;
        height: 100%;
        
    }


    input[type="button"]{
        font-size: 20px;
        font-weight: 900;
    }


    /* Number of people */

    #numpeople-div{
        width: 85%;
        grid-area: left-third-line ;
    }

    /* --- Footer div --- */
    #result-div{
        width: 100%;
        height: 90%;
        grid-template-rows: unset;
        margin-bottom: unset;
        grid-area: right-side;
        align-items: center;
        
    }

    input[type="reset"]{
        margin-bottom: 40px;
        align-self: flex-end;
        padding: 10px 0;
       
    }


    /* --- Font-sizes --- */

    #total-amoun-of-all, #tip-pay{
        font-size: 2.4em;
    }
    
    .only-tips, .tips-with-payment{
        font-size: 1.1em;
    }

    .slash-person{
        font-size: .7em;
    }

}